In [1]:
#Nuskaitykite studento duomenu failo studentai.txt duomenis ir suformuokite is ju sarasa - list.

In [2]:
with open('atsiskaitymas_studentai.txt') as failas:
    tekstas = failas.read()
    print(tekstas)

Vardas,Pavarde,Amzius,Ugis,Miestas,Mokymosi istaiga,Pazymys1,Pazymys2,Pazymys3,Pazymys4
Jonas,Petraitis,20,180,Vilnius,Vilniaus Universitetas,8,9,7,6
Ona,Jonaite,21,175,Kaunas,Kauno Technologijos Universitetas,7,8,9,5
Lukas,Kazlauskas,19,185,Klaipeda,Klaipedos Universitetas,9,7,6,8
Ieva,Butkute,22,170,Siauliai,Siauliu Universitetas,6,9,8,7
Andrius,Zukauskas,20,190,Panevezys,Vilniaus Gedimino Technikos Universitetas,8,6,7,9
Migle,Paulauskaite,21,165,Alytus,Vilniaus Universitetas,7,9,5,8
Tomas,Vasiliauskas,19,182,Marijampole,Kauno Technologijos Universitetas,9,8,7,6
Greta,Stankeviciute,22,178,Utena,Klaipedos Universitetas,6,7,9,8
Kamile,Kovalenko,20,172,Telsiai,Siauliu Universitetas,8,9,6,7
Mantas,Maksimovas,21,188,Taurage,Vilniaus Gedimino Technikos Universitetas,7,6,8,9
Laura,Petronyte,19,168,Vilnius,Vilniaus Universitetas,9,7,8,5
Darius,Jonkus,22,183,Kaunas,Kauno Technologijos Universitetas,6,8,9,7
Aiste,Kazlauskiene,20,173,Klaipeda,Klaipedos Universitetas,8,9,7,6
Edgaras,Butkus,21,187,Siauliai,Siauliu Universitetas,7,6,8,9
Viktorija,Zukauskaite,19,177,Panevezys,Vilniaus Gedimino Technikos Universitetas,9,8,6,7
Justinas,Paulauskas,22,181,Alytus,Vilniaus Universitetas,6,7,9,8
Karolina,Vasiliauskaite,20,171,Marijampole,Kauno Technologijos Universitetas,8,9,7,5
Arturas,Stankevicius,21,186,Utena,Klaipedos Universitetas,7,6,8,9
Simona,Kovalenko,19,166,Telsiai,Siauliu Universitetas,9,8,7,6
Evaldas,Maksimovas,22,184,Taurage,Vilniaus Gedimino Technikos Universitetas,6,7,9,8
Lina,Petraitiene,20,176,Vilnius,Vilniaus Universitetas,8,9,6,7
Ramunas,Jonaitis,21,189,Kaunas,Kauno Technologijos Universitetas,7,6,8,9
Gintare,Kazlauskaite,19,169,Klaipeda,Klaipedos Universitetas,9,8,7,5
Marius,Butkus,22,182,Siauliai,Siauliu Universitetas,6,7,9,8
Jurgita,Zukauskiene,20,179,Panevezys,Vilniaus Gedimino Technikos Universitetas,8,9,5,7
Rolandas,Paulauskas,21,185,Alytus,Vilniaus Universitetas,7,6,8,9
Dalia,Vasiliauskaite,19,174,Marijampole,Kauno Technologijos Universitetas,9,8,7,6
Saulius,Stankevicius,22,180,Utena,Klaipedos Universitetas,6,7,9,8
Rima,Kovalenko,20,170,Telsiai,Siauliu Universitetas,8,9,6,7
Algirdas,Maksimovas,21,187,Taurage,Vilniaus Gedimino Technikos Universitetas,7,6,8

In [3]:
import pandas as pd
duomenys = pd.read_csv('atsiskaitymas_stud.csv')
duomenys

,Vardas,Pavarde,Amzius,Ugis,Miestas,Mokymosi istaiga,Pazymys1,Pazymys2,Pazymys3,Pazymys4
0,Jonas,Petraitis,20,180,Vilnius,Vilniaus Universitetas,8,9,7,6.0
1,Ona,Jonaite,21,175,Kaunas,Kauno Technologijos Universitetas,7,8,9,5.0
2,Lukas,Kazlauskas,19,185,Klaipeda,Klaipedos Universitetas,9,7,6,8.0
3,Ieva,Butkute,22,170,Siauliai,Siauliu Universitetas,6,9,8,7.0
4,Andrius,Zukauskas,20,190,Panevezys,Vilniaus Gedimino Technikos Universitetas,8,6,7,9.0
5,Migle,Paulauskaite,21,165,Alytus,Vilniaus Universitetas,7,9,5,8.0
6,Tomas,Vasiliauskas,19,182,Marijampole,Kauno Technologijos Universitetas,9,8,7,6.0
7,Greta,Stankeviciute,22,178,Utena,Klaipedos Universitetas,6,7,9,8.0
8,Kamile,Kovalenko,20,172,Telsiai,Siauliu Universitetas,8,9,6,7.0
9,Mantas,Maksimovas,21,188,Taurage,Vilniaus Gedimino Technikos Universitetas,7,6,8,9.0
10,Laura,Petronyte,19,168,Vilnius,Vilniaus Universitetas,9,7,8,5.0
11,Darius,Jonkus,22,183,Kaunas,Kauno Technologijos Universitetas,6,8,9,7.0
12,Aiste,Kazlauskiene,20,173,Klaipeda,Klaipedos Universitetas,8,9,7,6.0
13,Edgaras,Butkus,21,187,Siauliai,Siauliu Universitetas,7,6,8,9.0
14,Viktorija,Zukauskaite,19,177,Panevezys,Vilniaus Gedimino Technikos Universitetas,9,8,6,7.0
15,Justinas,Paulauskas,22,181,Alytus,Vilniaus Universitetas,6,7,9,8.0
16,Karolina,Vasiliauskaite,20,171,Marijampole,Kauno Technologijos Universitetas,8,9,7,5.0
17,Arturas,Stankevicius,21,186,Utena,Klaipedos Universitetas,7,6,8,9.0
18,Simona,Kovalenko,19,166,Telsiai,Siauliu Universitetas,9,8,7,6.0
19,Evaldas,Maksimovas,22,184,Taurage,Vilniaus Gedimino Technikos Universitetas,6,7,9,8.0
20,Lina,Petraitiene,20,176,Vilnius,Vilniaus Universitetas,8,9,6,7.0
21,Ramunas,Jonaitis,21,189,Kaunas,Kauno Technologijos Universitetas,7,6,8,9.0
22,Gintare,Kazlauskaite,19,169,Klaipeda,Klaipedos Universitetas,9,8,7,5.0
23,Marius,Butkus,22,182,Siauliai,Siauliu Universitetas,6,7,9,8.0
24,Jurgita,Zukauskiene,20,179,Panevezys,Vilniaus Gedimino Technikos Universitetas,8,9,5,7.0
25,Rolandas,Paulauskas,21,185,Alytus,Vilniaus Universitetas,7,6,8,9.0
26,Dalia,Vasiliauskaite,19,174,Marijampole,Kauno Technologijos Universitetas,9,8,7,6.0
27,Saulius,Stankevicius,22,180,Utena,Klaipedos Universitetas,6,7,9,8.0
28,Rima,Kovalenko,20,170,Telsiai,Siauliu Universitetas,8,9,6,7.0
29,Algirdas,Maksimovas,21,187,Taurage,Vilniaus Gedimino Technikos Universitetas,7,6,8,NaN

In [4]:
print("Studentai:")
studentai = []
with open('atsiskaitymas_studentai.txt', encoding="utf8") as failas:
    next(failas)  
    for eilute in failas:
        eilute = eilute.rstrip('\n')  
        isskaidyta = eilute.split(',') 
        studentas = [
            isskaidyta[0],
            isskaidyta[1],
            isskaidyta[2],
            isskaidyta[3],
            isskaidyta[4],
            isskaidyta[5],
            [int(pazymys) for pazymys in isskaidyta[6:]]
        ]
        studentai.append(studentas)

for index, studentas in enumerate(studentai, start = 1):
    print(f'{index}.{studentas}')

Studentai:
1.['Jonas', 'Petraitis', '20', '180', 'Vilnius', 'Vilniaus Universitetas', [8, 9, 7, 6]]
2.['Ona', 'Jonaite', '21', '175', 'Kaunas', 'Kauno Technologijos Universitetas', [7, 8, 9, 5]]
3.['Lukas', 'Kazlauskas', '19', '185', 'Klaipeda', 'Klaipedos Universitetas', [9, 7, 6, 8]]
4.['Ieva', 'Butkute', '22', '170', 'Siauliai', 'Siauliu Universitetas', [6, 9, 8, 7]]
5.['Andrius', 'Zukauskas', '20', '190', 'Panevezys', 'Vilniaus Gedimino Technikos Universitetas', [8, 6, 7, 9]]
6.['Migle', 'Paulauskaite', '21', '165', 'Alytus', 'Vilniaus Universitetas', [7, 9, 5, 8]]
7.['Tomas', 'Vasiliauskas', '19', '182', 'Marijampole', 'Kauno Technologijos Universitetas', [9, 8, 7, 6]]
8.['Greta', 'Stankeviciute', '22', '178', 'Utena', 'Klaipedos Universitetas', [6, 7, 9, 8]]
9.['Kamile', 'Kovalenko', '20', '172', 'Telsiai', 'Siauliu Universitetas', [8, 9, 6, 7]]
10.['Mantas', 'Maksimovas', '21', '188', 'Taurage', 'Vilniaus Gedimino Technikos Universitetas', [7, 6, 8, 9]]
11.['Laura', 'Petronyte', '19', '168', 'Vilnius', 'Vilniaus Universitetas', [9, 7, 8, 5]]
12.['Darius', 'Jonkus', '22', '183', 'Kaunas', 'Kauno Technologijos Universitetas', [6, 8, 9, 7]]
13.['Aiste', 'Kazlauskiene', '20', '173', 'Klaipeda', 'Klaipedos Universitetas', [8, 9, 7, 6]]
14.['Edgaras', 'Butkus', '21', '187', 'Siauliai', 'Siauliu Universitetas', [7, 6, 8, 9]]
15.['Viktorija', 'Zukauskaite', '19', '177', 'Panevezys', 'Vilniaus Gedimino Technikos Universitetas', [9, 8, 6, 7]]
16.['Justinas', 'Paulauskas', '22', '181', 'Alytus', 'Vilniaus Universitetas', [6, 7, 9, 8]]
17.['Karolina', 'Vasiliauskaite', '20', '171', 'Marijampole', 'Kauno Technologijos Universitetas', [8, 9, 7, 5]]
18.['Arturas', 'Stankevicius', '21', '186', 'Utena', 'Klaipedos Universitetas', [7, 6, 8, 9]]
19.['Simona', 'Kovalenko', '19', '166', 'Telsiai', 'Siauliu Universitetas', [9, 8, 7, 6]]
20.['Evaldas', 'Maksimovas', '22', '184', 'Taurage', 'Vilniaus Gedimino Technikos Universitetas', [6, 7, 9, 8]]
21.['Lina', 'Petraitiene', '20', '176', 'Vilnius', 'Vilniaus Universitetas', [8, 9, 6, 7]]
22.['Ramunas', 'Jonaitis', '21', '189', 'Kaunas', 'Kauno Technologijos Universitetas', [7, 6, 8, 9]]
23.['Gintare', 'Kazlauskaite', '19', '169', 'Klaipeda', 'Klaipedos Universitetas', [9, 8, 7, 5]]
24.['Marius', 'Butkus', '22', '182', 'Siauliai', 'Siauliu Universitetas', [6, 7, 9, 8]]
25.['Jurgita', 'Zukauskiene', '20', '179', 'Panevezys', 'Vilniaus Gedimino Technikos Universitetas', [8, 9, 5, 7]]
26.['Rolandas', 'Paulauskas', '21', '185', 'Alytus', 'Vilniaus Universitetas', [7, 6, 8, 9]]
27.['Dalia', 'Vasiliauskaite', '19', '174', 'Marijampole', 'Kauno Technologijos Universitetas', [9, 8, 7, 6]]
28.['Saulius', 'Stankevicius', '22', '180', 'Utena', 'Klaipedos Universitetas', [6, 7, 9, 8]]
29.['Rima', 'Kovalenko', '20', '170', 'Telsiai', 'Siauliu Universitetas', [8, 9, 6, 7]]
30.['Algirdas', 'Maksimovas', '21', '187', 'Taurage', 'Vilniaus Gedimino Technikos Universitetas', [7, 6, 8]]

In [5]:
#dictionary
print("Studentai:")
studentai = []
with open('atsiskaitymas_studentai.txt', encoding="utf8") as failas:
    next(failas)  
    for eilute in failas:
        eilute = eilute.rstrip('\n')  
        isskaidyta = eilute.split(',') 
        studentas = dict(
        vardas = isskaidyta[0],
        pavarde = isskaidyta[1],
        amzius = int(isskaidyta[2]),
        ugis = int(isskaidyta[3]),
        miestas=isskaidyta[4],
        mokymosi_ist = isskaidyta[5],
        pazymiai = [int(pazymys) for pazymys in isskaidyta[6:]] 
        )
        studentai.append(studentas)

#for studentas in studentai:
    #print(studentas)

for indeksas, studentas in enumerate(studentai, start=1):
    print(f"{indeksas}. {studentas}")

Studentai:
1. {'vardas': 'Jonas', 'pavarde': 'Petraitis', 'amzius': 20, 'ugis': 180, 'miestas': 'Vilnius', 'mokymosi_ist': 'Vilniaus Universitetas', 'pazymiai': [8, 9, 7, 6]}
2. {'vardas': 'Ona', 'pavarde': 'Jonaite', 'amzius': 21, 'ugis': 175, 'miestas': 'Kaunas', 'mokymosi_ist': 'Kauno Technologijos Universitetas', 'pazymiai': [7, 8, 9, 5]}
3. {'vardas': 'Lukas', 'pavarde': 'Kazlauskas', 'amzius': 19, 'ugis': 185, 'miestas': 'Klaipeda', 'mokymosi_ist': 'Klaipedos Universitetas', 'pazymiai': [9, 7, 6, 8]}
4. {'vardas': 'Ieva', 'pavarde': 'Butkute', 'amzius': 22, 'ugis': 170, 'miestas': 'Siauliai', 'mokymosi_ist': 'Siauliu Universitetas', 'pazymiai': [6, 9, 8, 7]}
5. {'vardas': 'Andrius', 'pavarde': 'Zukauskas', 'amzius': 20, 'ugis': 190, 'miestas': 'Panevezys', 'mokymosi_ist': 'Vilniaus Gedimino Technikos Universitetas', 'pazymiai': [8, 6, 7, 9]}
6. {'vardas': 'Migle', 'pavarde': 'Paulauskaite', 'amzius': 21, 'ugis': 165, 'miestas': 'Alytus', 'mokymosi_ist': 'Vilniaus Universitetas', 'pazymiai': [7, 9, 5, 8]}
7. {'vardas': 'Tomas', 'pavarde': 'Vasiliauskas', 'amzius': 19, 'ugis': 182, 'miestas': 'Marijampole', 'mokymosi_ist': 'Kauno Technologijos Universitetas', 'pazymiai': [9, 8, 7, 6]}
8. {'vardas': 'Greta', 'pavarde': 'Stankeviciute', 'amzius': 22, 'ugis': 178, 'miestas': 'Utena', 'mokymosi_ist': 'Klaipedos Universitetas', 'pazymiai': [6, 7, 9, 8]}
9. {'vardas': 'Kamile', 'pavarde': 'Kovalenko', 'amzius': 20, 'ugis': 172, 'miestas': 'Telsiai', 'mokymosi_ist': 'Siauliu Universitetas', 'pazymiai': [8, 9, 6, 7]}
10. {'vardas': 'Mantas', 'pavarde': 'Maksimovas', 'amzius': 21, 'ugis': 188, 'miestas': 'Taurage', 'mokymosi_ist': 'Vilniaus Gedimino Technikos Universitetas', 'pazymiai': [7, 6, 8, 9]}
11. {'vardas': 'Laura', 'pavarde': 'Petronyte', 'amzius': 19, 'ugis': 168, 'miestas': 'Vilnius', 'mokymosi_ist': 'Vilniaus Universitetas', 'pazymiai': [9, 7, 8, 5]}
12. {'vardas': 'Darius', 'pavarde': 'Jonkus', 'amzius': 22, 'ugis': 183, 'miestas': 'Kaunas', 'mokymosi_ist': 'Kauno Technologijos Universitetas', 'pazymiai': [6, 8, 9, 7]}
13. {'vardas': 'Aiste', 'pavarde': 'Kazlauskiene', 'amzius': 20, 'ugis': 173, 'miestas': 'Klaipeda', 'mokymosi_ist': 'Klaipedos Universitetas', 'pazymiai': [8, 9, 7, 6]}
14. {'vardas': 'Edgaras', 'pavarde': 'Butkus', 'amzius': 21, 'ugis': 187, 'miestas': 'Siauliai', 'mokymosi_ist': 'Siauliu Universitetas', 'pazymiai': [7, 6, 8, 9]}
15. {'vardas': 'Viktorija', 'pavarde': 'Zukauskaite', 'amzius': 19, 'ugis': 177, 'miestas': 'Panevezys', 'mokymosi_ist': 'Vilniaus Gedimino Technikos Universitetas', 'pazymiai': [9, 8, 6, 7]}
16. {'vardas': 'Justinas', 'pavarde': 'Paulauskas', 'amzius': 22, 'ugis': 181, 'miestas': 'Alytus', 'mokymosi_ist': 'Vilniaus Universitetas', 'pazymiai': [6, 7, 9, 8]}
17. {'vardas': 'Karolina', 'pavarde': 'Vasiliauskaite', 'amzius': 20, 'ugis': 171, 'miestas': 'Marijampole', 'mokymosi_ist': 'Kauno Technologijos Universitetas', 'pazymiai': [8, 9, 7, 5]}
18. {'vardas': 'Arturas', 'pavarde': 'Stankevicius', 'amzius': 21, 'ugis': 186, 'miestas': 'Utena', 'mokymosi_ist': 'Klaipedos Universitetas', 'pazymiai': [7, 6, 8, 9]}
19. {'vardas': 'Simona', 'pavarde': 'Kovalenko', 'amzius': 19, 'ugis': 166, 'miestas': 'Telsiai', 'mokymosi_ist': 'Siauliu Universitetas', 'pazymiai': [9, 8, 7, 6]}
20. {'vardas': 'Evaldas', 'pavarde': 'Maksimovas', 'amzius': 22, 'ugis': 184, 'miestas': 'Taurage', 'mokymosi_ist': 'Vilniaus Gedimino Technikos Universitetas', 'pazymiai': [6, 7, 9, 8]}
21. {'vardas': 'Lina', 'pavarde': 'Petraitiene', 'amzius': 20, 'ugis': 176, 'miestas': 'Vilnius', 'mokymosi_ist': 'Vilniaus Universitetas', 'pazymiai': [8, 9, 6, 7]}
22. {'vardas': 'Ramunas', 'pavarde': 'Jonaitis', 'amzius': 21, 'ugis': 189, 'miestas': 'Kaunas', 'mokymosi_ist': 'Kauno Technologijos Universitetas', 'pazymiai': [7, 6, 8, 9]}
23. {'vardas': 'Gintare', 'pavarde': 'Kazlauskaite', 'amzius': 19, 'ugis': 169, 'miestas': 'Klaipeda', 'mokymosi_ist': 'Klaipedos Universitetas', 'pazymiai': [9, 8, 7, 5]}
24. {'vardas': 'Marius', 'pavarde': 'Butkus', 'amzius': 22, 'ugis': 182, 'miestas': 'Siauliai', 'mokymosi_ist': 'Siauliu Universitetas', 'pazymiai': [6, 7, 9, 8]}
25. {'vardas': 'Jurgita', 'pavarde': 'Zukauskiene', 'amzius': 20, 'ugis': 179, 'miestas': 'Panevezys', 'mokymosi_ist': 'Vilniaus Gedimino Technikos Universitetas', 'pazymiai': [8, 9, 5, 7]}
26. {'vardas': 'Rolandas', 'pavarde': 'Paulauskas', 'amzius': 21, 'ugis': 185, 'miestas': 'Alytus', 'mokymosi_ist': 'Vilniaus Universitetas', 'pazymiai': [7, 6, 8, 9]}
27. {'vardas': 'Dalia', 'pavarde': 'Vasiliauskaite', 'amzius': 19, 'ugis': 174, 'miestas': 'Marijampole', 'mokymosi_ist': 'Kauno Technologijos Universitetas', 'pazymiai': [9, 8, 7, 6]}
28. {'vardas': 'Saulius', 'pavarde': 'Stankevicius', 'amzius': 22, 'ugis': 180, 'miestas': 'Utena', 'mokymosi_ist': 'Klaipedos Universitetas', 'pazymiai': [6, 7, 9, 8]}
29. {'vardas': 'Rima', 'pavarde': 'Kovalenko', 'amzius': 20, 'ugis': 170, 'miestas': 'Telsiai', 'mokymosi_ist': 'Siauliu Universitetas', 'pazymiai': [8, 9, 6, 7]}
30. {'vardas': 'Algirdas', 'pavarde': 'Maksimovas', 'amzius': 21, 'ugis': 187, 'miestas': 'Taurage', 'mokymosi_ist': 'Vilniaus Gedimino Technikos Universitetas', 'pazymiai': [7, 6, 8]}

In [1]:
#apskaiciuokite kiekvieno studento vidurki ir prie vidurkio nurodykite 
#jei vidurkisprint("Studentai:")
#isveskite atskirose eilutese graziai suformatuota informacija apie studentus
studentai = []

with open('atsiskaitymas_studentai.txt', encoding="utf8") as failas:
    next(failas)
    for eilute in failas:
        eilute = eilute.rstrip('\n')  
        isskaidyta = eilute.split(',') 
        pazymiai = [int(pazymys) for pazymys in isskaidyta[6:]]
        vidurkis = sum(pazymiai) / len(pazymiai) 
        leidziama = "Leidziama laikyti egzamina" if vidurkis >= 5 else "Neleidziama laikyti egzamino"

        studentas = [
            isskaidyta[0],  
            isskaidyta[1],  
            int(isskaidyta[2]),  
            int(isskaidyta[3]),  
            isskaidyta[4], 
            isskaidyta[5],  
            pazymiai, 
            round(vidurkis, 2), 
            leidziama  
        ]
        studentai.append(studentas)


for index, studentas in enumerate(studentai, start=1):
    print(f"{index}. {studentas[0]} {studentas[1]}, Vidurkis: {studentas[7]}, {studentas[8]}")
    
#spausdiname i faila atsiskaitymas_rezultatai
with open('atsiskaitymo_rezultatai.txt', 'w', encoding="utf8") as rezultatai_failas:
    for index, studentas in enumerate(studentai, start=1):
        rezultatai_failas.write(f"{index}. {studentas[0]} {studentas[1]}\n")
        rezultatai_failas.write(f"   Amzius: {studentas[2]}\n")
        rezultatai_failas.write(f"   Ugis: {studentas[3]} cm\n")
        rezultatai_failas.write(f"   Miestas: {studentas[4]}\n")
        rezultatai_failas.write(f"   Mokymosi staiga: {studentas[5]}\n")
        rezultatai_failas.write(f"   Pazymiai: {studentas[6]}\n")
        rezultatai_failas.write(f"   Vidurkis: {studentas[7]}\n")
        rezultatai_failas.write(f"   {studentas[8]}\n\n")

1. Jonas Petraitis, Vidurkis: 7.5, Leidziama laikyti egzamina
2. Ona Jonaite, Vidurkis: 7.25, Leidziama laikyti egzamina
3. Lukas Kazlauskas, Vidurkis: 7.5, Leidziama laikyti egzamina
4. Ieva Butkute, Vidurkis: 7.5, Leidziama laikyti egzamina
5. Andrius Zukauskas, Vidurkis: 7.5, Leidziama laikyti egzamina
6. Migle Paulauskaite, Vidurkis: 7.25, Leidziama laikyti egzamina
7. Tomas Vasiliauskas, Vidurkis: 7.5, Leidziama laikyti egzamina
8. Greta Stankeviciute, Vidurkis: 7.5, Leidziama laikyti egzamina
9. Kamile Kovalenko, Vidurkis: 7.5, Leidziama laikyti egzamina
10. Mantas Maksimovas, Vidurkis: 7.5, Leidziama laikyti egzamina
11. Laura Petronyte, Vidurkis: 7.25, Leidziama laikyti egzamina
12. Darius Jonkus, Vidurkis: 7.5, Leidziama laikyti egzamina
13. Aiste Kazlauskiene, Vidurkis: 7.5, Leidziama laikyti egzamina
14. Edgaras Butkus, Vidurkis: 7.5, Leidziama laikyti egzamina
15. Viktorija Zukauskaite, Vidurkis: 7.5, Leidziama laikyti egzamina
16. Justinas Paulauskas, Vidurkis: 7.5, Leidziama laikyti egzamina
17. Karolina Vasiliauskaite, Vidurkis: 7.25, Leidziama laikyti egzamina
18. Arturas Stankevicius, Vidurkis: 7.5, Leidziama laikyti egzamina
19. Simona Kovalenko, Vidurkis: 7.5, Leidziama laikyti egzamina
20. Evaldas Maksimovas, Vidurkis: 7.5, Leidziama laikyti egzamina
21. Lina Petraitiene, Vidurkis: 7.5, Leidziama laikyti egzamina
22. Ramunas Jonaitis, Vidurkis: 7.5, Leidziama laikyti egzamina
23. Gintare Kazlauskaite, Vidurkis: 7.25, Leidziama laikyti egzamina
24. Marius Butkus, Vidurkis: 7.5, Leidziama laikyti egzamina
25. Jurgita Zukauskiene, Vidurkis: 7.25, Leidziama laikyti egzamina
26. Rolandas Paulauskas, Vidurkis: 7.5, Leidziama laikyti egzamina
27. Dalia Vasiliauskaite, Vidurkis: 7.5, Leidziama laikyti egzamina
28. Saulius Stankevicius, Vidurkis: 7.5, Leidziama laikyti egzamina
29. Rima Kovalenko, Vidurkis: 7.5, Leidziama laikyti egzamina
30. Algirdas Maksimovas, Vidurkis: 7.0, Leidziama laikyti egzamina

In [3]:
## Nuskaitykite 1 užduoties rezultatų failą – rezultatai.txt
#• Raskite koks didžiausias ir koks mažiausias iš vidurkių.
#• PASUNKINIMAS: Raskite kurio studento/studentų vidurkis didžiausias ir
#spausdinkite jo/jų visu duomenis.
#• Atspausdinkite ir tarpinius rezultatus į ekraną.

with open('atsiskaitymo_rezultatai.txt', encoding="utf8") as failas:
    lines = failas.readlines()


for studentas in studentai:
    vidurkiai = [studentas[7] for studentas in studentai]  

didziausias_vidurkis = max(vidurkiai)  
maziausias_vidurkis = min(vidurkiai)

studentas_didziausias = [studentas for studentas in studentai if studentas[7] == didziausias_vidurkis]
studentas_maziausias = [studentas for studentas in studentai if studentas[7] == maziausias_vidurkis]


print(f"Didziausias vidurkis: {didziausias_vidurkis}")
print("Studentai su didziausiu vidurkiu:")
for studentas in studentas_didziausias:
    print(f"{studentas[0]} {studentas[1]}, {studentas[2]}, {studentas[3]}, {studentas[4]}, {studentas[5]}, {studentas[6]} Vidurkis: {studentas[7]}")

print(f"\nMaziausias vidurkis: {maziausias_vidurkis}")
print("Studentai su maziausiu vidurkiu:")
for studentas in studentas_maziausias:
    print(f"{studentas[0]} {studentas[1]}, {studentas[2]}, {studentas[3]}, {studentas[4]}, {studentas[5]}, {studentas[6]} Vidurkis: {studentas[7]} ir egzamina jam/jai {studentas[8]}")

Didziausias vidurkis: 7.5
Studentai su didziausiu vidurkiu:
Jonas Petraitis, 20, 180, Vilnius, Vilniaus Universitetas, [8, 9, 7, 6] Vidurkis: 7.5
Lukas Kazlauskas, 19, 185, Klaipeda, Klaipedos Universitetas, [9, 7, 6, 8] Vidurkis: 7.5
Ieva Butkute, 22, 170, Siauliai, Siauliu Universitetas, [6, 9, 8, 7] Vidurkis: 7.5
Andrius Zukauskas, 20, 190, Panevezys, Vilniaus Gedimino Technikos Universitetas, [8, 6, 7, 9] Vidurkis: 7.5
Tomas Vasiliauskas, 19, 182, Marijampole, Kauno Technologijos Universitetas, [9, 8, 7, 6] Vidurkis: 7.5
Greta Stankeviciute, 22, 178, Utena, Klaipedos Universitetas, [6, 7, 9, 8] Vidurkis: 7.5
Kamile Kovalenko, 20, 172, Telsiai, Siauliu Universitetas, [8, 9, 6, 7] Vidurkis: 7.5
Mantas Maksimovas, 21, 188, Taurage, Vilniaus Gedimino Technikos Universitetas, [7, 6, 8, 9] Vidurkis: 7.5
Darius Jonkus, 22, 183, Kaunas, Kauno Technologijos Universitetas, [6, 8, 9, 7] Vidurkis: 7.5
Aiste Kazlauskiene, 20, 173, Klaipeda, Klaipedos Universitetas, [8, 9, 7, 6] Vidurkis: 7.5
Edgaras Butkus, 21, 187, Siauliai, Siauliu Universitetas, [7, 6, 8, 9] Vidurkis: 7.5
Viktorija Zukauskaite, 19, 177, Panevezys, Vilniaus Gedimino Technikos Universitetas, [9, 8, 6, 7] Vidurkis: 7.5
Justinas Paulauskas, 22, 181, Alytus, Vilniaus Universitetas, [6, 7, 9, 8] Vidurkis: 7.5
Arturas Stankevicius, 21, 186, Utena, Klaipedos Universitetas, [7, 6, 8, 9] Vidurkis: 7.5
Simona Kovalenko, 19, 166, Telsiai, Siauliu Universitetas, [9, 8, 7, 6] Vidurkis: 7.5
Evaldas Maksimovas, 22, 184, Taurage, Vilniaus Gedimino Technikos Universitetas, [6, 7, 9, 8] Vidurkis: 7.5
Lina Petraitiene, 20, 176, Vilnius, Vilniaus Universitetas, [8, 9, 6, 7] Vidurkis: 7.5
Ramunas Jonaitis, 21, 189, Kaunas, Kauno Technologijos Universitetas, [7, 6, 8, 9] Vidurkis: 7.5
Marius Butkus, 22, 182, Siauliai, Siauliu Universitetas, [6, 7, 9, 8] Vidurkis: 7.5
Rolandas Paulauskas, 21, 185, Alytus, Vilniaus Universitetas, [7, 6, 8, 9] Vidurkis: 7.5
Dalia Vasiliauskaite, 19, 174, Marijampole, Kauno Technologijos Universitetas, [9, 8, 7, 6] Vidurkis: 7.5
Saulius Stankevicius, 22, 180, Utena, Klaipedos Universitetas, [6, 7, 9, 8] Vidurkis: 7.5
Rima Kovalenko, 20, 170, Telsiai, Siauliu Universitetas, [8, 9, 6, 7] Vidurkis: 7.5

Maziausias vidurkis: 7.0
Studentai su maziausiu vidurkiu:
Algirdas Maksimovas, 21, 187, Taurage, Vilniaus Gedimino Technikos Universitetas, [7, 6, 8] Vidurkis: 7.0 ir egzamina jam/jai Leidziama laikyti egzamina